.product {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  display: flex;
  flex-direction: column;

  border-radius: 0.4rem;
}

.product img {
  height: 75%;
}

.product .description {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.product .description h4 {
  font-size: 1.1rem;
}

.product .description p {
  font-weight: bold;
}

.product .description button {
  border: 0;
  outline: none;
  background-color: #ac8688;
  color: #fff;
  width: 35%;
  height: 2rem;
  border-radius: 0.4rem;
  transition: all 0.4s ease;
}

.product .description button:hover {
  cursor: pointer;
  transform: scale(1.06);
}
